.search-box {
  display: flex;
}
.search-icons {
  align-items: center;
}
.material-icons {
  font-size: 25px;
}
.icon-td {
  justify-content: center;
}
.pagination {
  display: flex;
  justify-content: space-between;
}
.pagination-page {
  font-size: 20px;
}
.page {
  margin-left: 7px;
  margin-right: 7px;
}
