.wrapper {
  width: 150px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid transparent;
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
.danger {
  color: #fff;
  background: #ef4444;
  border: 1px solid #ef4444;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  &:hover {
    background: #dc2626;
    color: #fff;
    border-color: #dc2626;
  }
}
.success {
  color: #fff;
  background: #22c55e;
  border: 1px solid #22c55e;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  &:hover {
    background: #16a34a;
    color: #fff;
    border-color: #16a34a;
  }
}
.small {
  width: 45px;
  height: 36px;
  border: none;
}
